body{
    transition: background-color, 1s;
    animation: arco-iris 5s infinite;
}

@keyframes arco-iris{
    0%{
        background-color: rgb(10, 13, 51); 
    }
    10%{
        background-color: rgb(159, 173, 185);
    }
    20%{
        background-color: rgb(80, 235, 255);
    }
    40%{
        background-color: rgb(0, 119, 255);
    }
    50%{
        background-color: rgb(34, 32, 138);
    }
    60%{
        background-color: rgb(25, 33, 104); 
    }
    70%{
        background-color: rgb(12, 15, 58); 
    }
    80%{
        background-color: rgb(10, 13, 51); 
    }
    90%{
        background-color: rgb(5, 7, 26); 
    }
    100%{
        background-color: rgb(0, 0, 0); 
    }
}